.container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
                  "nav nav"
                  "left-bar main"
                  "footer footer";
  height: 100vh;
}